{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

{% if player.timed_out %}
  <p> Either you or your partner took too long completing the survey, so you could not finish. You will still get compensated for your participation</p>
{% else %}
<p> Thank you for participating in this study! We hope you have enjoyed the trailer.</p>
{% endif %}
<br>
<p>
  Please enter this secret code into mTurk to receive payment for this HIT:
  <h3>
    {{ player.get_code }}
  </h3>

</p>
{% endblock %}
