{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}

<p><b> Northeastern University, Department of Marketing:</b></p> 
<p> <b>Name of Investigator(s):   </b>Mary Steffel</p>
<p> <b> Title of Project: </b>Choice Delegation</p>

<p> <b>  Request to Participate in Research </b> </p> 
<p> We would like to invite you to participate in a web-based online survey. You must be at least 18 years old to take this survey. </p>

<p> <b> Key Information </b> </p>
<ul> 
<li> Your consent is being sought for participation in a research project and your participation is voluntary.</li>
<li> The survey is part of a research study whose purpose is to understand when people delegate choices to other people and the consequences of having the option to delegate.</li>
<li> This survey should take about 10 minutes to complete.</li>
<li> The procedures that you will be asked to complete include reading scenarios, making choices and answering general demographic questions.</li>
<li> <b> There are no foreseeable risks or discomforts to you for taking part in this study. </b></li>
<li> <b> There are no direct benefits to you from participating in this study.</b> However, your responses may help us learn more about when people delegate choices to other people and the consequences of having the option to delegate.</li> 
</ul>
<p> <b> The decision to participate in this research project is voluntary. </b> You do not have to participate and you can refuse to answer any question. Even if you begin the web-based online survey, you can stop at any time. 
<b> You will receive Marketing Research Experience (MRE) credit for completing the survey. </b> </p>

<p> <b> Your part in this study will be handled in a confidential manner. Any reports or publications based on this research will use only group data and will not identify you or any individual as being affiliated with this project. </b></p>

<p> <b> Your de-identified information could be used for future research without additional informed consent.</b> </p>

<p> <b> If you have any questions regarding electronic privacy,</b> please feel free to contact Mark Nardone, NU’s Director of Information Security via phone at 617-373-7901, or via email at privacy@neu.edu. </p>

<p> <b> If you have any questions about this study,</b> please feel free to contact Mary Steffel (m.steffel@neu.edu), the Principal Investigator responsible for the research. </p>

<p> <b>  If you have any questions regarding your rights as a research participant,</b> please contact Nan C. Regina, Director, Human Subject Research Protection, Mail Stop: 560-177, Northeastern University, Boston, MA 02115. Tel: 617.373.4588, Email: n.regina@neu.edu. You may call anonymously if you wish. </p>

<p> <b> This study has been reviewed and approved by the Northeastern University Institutional Review Board (# 15-18-20).  </b></p> 

<p> <b>By clicking on the continue button below you are indicating that you consent to participate in this study. </b>  </p>

<p> Thank you for your time. </p> 
<p> Mary Steffel </p> 

{% next_button %}

{% endblock %}