{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

<p> Now, you and your partner will pick a movie trailer to watch together. You should each do your best to pick the trailer that you will enjoy the most.</p>

{% if player.group.eliminateNegative %}
<p> You will be presented with the list of trailers on the next page. You should take turns eliminating any trailer(s) that you don't want to watch. The trailer(s) you select will be eliminated from the list. Pass your turn over to your partner by clicking 'Next'. Continue this process until you have eliminated 11 trailers and are left with just one. You or your partner must eliminate at least one trailer per turn, but feel free to eliminate several trailers at a time.</p>
{% else %}
<p> You will be presented with the list of trailers on the next page. You should take turns selecting any trailer(s) that you want to watch. The trailer(s) you select will remain on the list. Any trailers not selected will be eliminated. Pass your turn over to your partner by clicking 'Next'. Continue this process until you have eliminated 11 trailers and are left with just one. You or your partner must eliminate at least one trailer per turn, but feel free to eliminate several trailers at a time.</p>
{% endif %}

</p>Once there is only one trailer, enjoy the trailer you picked to watch together!</p>

{% next_button %}

{% endblock %}