{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions
{% endblock %}

{% block content %}
<p> Now, you and your partner will pick a movie trailer to watch together. 
  
{% if player.group.goal %}
<p> You should do your best to ensure that you and your partner pick the trailer that <strong> you personally will enjoy the most. </strong></p>
{% else %}
<p> You should do your best to ensure that you and your partner pick the trailer that <strong> your partner will enjoy the most. </strong> </p>
{% endif %}
{% if player.group.eliminateNegative %}
<p> You will be presented with the list of trailers on the next page. You should take turns <strong> eliminating any trailer(s) {% if player.group.goal %} that you would NOT want to watch.{% else %} that your partner would NOT want to watch. {% endif %} </strong> The trailer(s) you select will be eliminated from the list. Pass your turn over to your partner by clicking 'Next'. Continue this process until you are left with just one trailer. You or your partner must eliminate at least one trailer per turn, but feel free to eliminate several trailers at a time.</p>
{% else %}
<p> You will be presented with the list of trailers on the next page. You should take turns <strong> selecting any trailer(s)  {% if player.group.goal %} that you would want to watch.{% else %} that your partner would want to watch. {% endif %} </strong> </strong> The trailer(s) you select will remain on the list. Any trailers not selected will be eliminated. Pass your turn over to your partner by clicking 'Next'. Continue this process until you are left with just one trailer. You or your partner must select at least one trailer per turn, but feel free to select several trailers at a time.</p>
{% endif %}

</p>Once there is only one trailer, you will watch the trailer you picked together!</p>


{% endblock %}