{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Choice Delegation
{% endblock %}

{% block content %}

<p><strong>Northeastern University, Department of Marketing:</strong></p>

<p><strong>Name of Investigator(s): </strong>Mary Steffel</p>

<p><strong>Title of Project: </strong>Choice Delegation</p>

<p> <strong> Request to Participate in Research</strong></p>

<p> We would like to invite you to participate in a web-based online survey. You must be at least 18 years old to take this survey.</p>

<p><strong> Key Information</strong> </p>
<ul> 
<li>Your consent is being sought for participation in a research project and your participation is voluntary.</li>
<li>The survey is part of a research study whose purpose is to understand when people delegate choices to other people and the consequences of having the option to delegate.</li>
<li>This survey should take about 3-5 minutes to complete.</li>
<li>The procedures that you will be asked to complete include reading scenarios, making choices and answering general demographic questions.</li>
<li>There are no foreseeable risks or discomforts to you for taking part in this study.</li>
<li>There are no direct benefits to you from participating in this study. However, your responses may help us learn more about when people delegate choices to other people and the consequences of having the option to delegate.</li>
<li>The decision to participate in this research project is voluntary. You do not have to participate and you can refuse to answer any question. Even if you begin the web-based online survey, you can stop at any time.</li>
<li>You will receive Marketing Research Experience (MRE) credit for completing the survey.</li>
</ul>

<p>Your part in this study will be handled in a confidential manner. Any reports or publications based on this research will use only group data and will not identify you or any individual as being affiliated with this project. </p>

<p> Your de-identified information could be used for future research without additional informed consent.</p>

<p>If you have any questions regarding electronic privacy, please feel free to contact Mark Nardone, NU’s Director of Information Security via phone at 617-373-7901, or via email at privacy@neu.edu.</p>

<p>If you have any questions about this study, please feel free to contact Mary Steffel (m.steffel@neu.edu), the Principal Investigator responsible for the research.</p>

<p>If you have any questions regarding your rights as a research participant, please contact Nan C. Regina, Director, Human Subject Research Protection, Mail Stop: 560-177, Northeastern University, Boston, MA 02115. Tel: 617.373.4588, Email: n.regina@neu.edu. You may call anonymously if you wish. </p>

<p>This study has been reviewed and approved by the Northeastern University Institutional Review Board (# 15-18-20).</p>

<p>By clicking on the continue button below you are indicating that you consent to participate in this study. Please print out a copy of this consent screen or download a copy of the consent form for your records.</p>

<p>Thank you for your time.</p>

 

<p>Mary Steffel</p>

    {% next_button %}

{% endblock %}