{% extends "volleying/Page.html" %}
{% load checkboxfilter %}
{% load otree static %}
{% load static %}

{% block content %}

{% if player.group.eliminateNegative %}
<p> Please select the movie trailer(s) you would <strong> not </strong> like to watch.</p>
{% else %}
<p> Please select the movie trailer(s) you <strong> would </strong> like to watch.</p>
{% endif %}
<h5> Remaining Movies </h5>
<div class="volley-elimination"> 
{% for form in movie_formset %}
    {% for field in form %}
        {% if field.field.widget|is_checkbox %}
            {{ field }} {{ field.label_tag }}
        {% else %}
            {{field}}
        {% endif %}
    {% endfor %}
<br>
{% endfor %}
</div>
<br>
<hr>
<br>
<h5> Eliminated Movies</h5>
<ul>
{% for item in group.get_eliminated_movie_descriptions %}
    <li> <strike> {{ item }} </strike></li>
{% endfor %}
</ul>


{% next_button %}

{% endblock %}