{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

<p> In this study, you will be randomly assigned a partner with whom you will pick a movie trailer to watch. You should each do your best to pick the trailer that you will enjoy the most.</p>
 
<p> On the next page, you will have a short moment to chat with your partner to get to know them before you pick a movie trailer together. </p>

{% next_button %}

{% endblock %}